@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'source sans pro', sans-serif;
  text-decoration: none;
  font-size: 62.5%; }

body {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 10%;
  grid-template-rows: 1fr 1fr 160px;
  width: 100%;
  height: 100vh; }

a:visited {
  color: black; }

a:hover {
  color: rgba(249, 249, 253, 0.623);
  transition: 1s; }

.link:hover {
  color: rgba(20, 20, 20, 0.61);
  transition: 1s; }

a {
  color: #101011;
  transition: 1s; }

.backgroundconteiner, .backgroundconteiner__desing_name {
  grid-column: 1 / 6;
  grid-row: 1 / 5;
  height: 100vh;
  z-index: -1; }

.background {
  width: 100%;
  position: fixed;
  height: 100vh;
  z-index: -1; }

/* menus*/
.izquierdo {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  white-space: nowrap;
  z-index: 2; }

.derecho, .derecho__desing_name {
  grid-column: 5 / 6;
  grid-row: 1 / 4;
  white-space: nowrap;
  z-index: 2; }

.nav_left {
  display: flex;
  background-color: #ffffffcc;
  transform: rotate(-90deg) translate(-50%);
  font-size: 15em; }

.nav_right {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  transform: rotate(90deg) translate(50%);
  flex-basis: 100%; }

.nav_right ul {
  font-size: 25em; }

.menu_general {
  display: flex;
  margin: 0.6em;
  list-style: none;
  flex-basis: 100%; }

.menu_general li {
  display: inline-block;
  margin-left: 4.5rem;
  text-transform: uppercase; }

.footer {
  position: relative;
  z-index: 0;
  grid-column: 1 / 2;
  grid-row: 3;
  margin: 0 auto;
  max-width: 50px; }

.contenido_footer {
  display: grid;
  grid-area: 2/1/3/2; }

.pie {
  width: 50px; }

.pie_1 {
  width: 100%; }

.link_redes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center; }

.contenido_total {
  display: grid;
  grid-column: 1 / 6;
  grid-row: 1 / 4; }

/*acomodo de logo*/
.home {
  position: absolute;
  width: 100%;
  height: 100vh; }

.home_logocontainer {
  grid-column: 2/3;
  grid-row: 1/2; }

.home_logocontainer img {
  display: grid;
  width: 50%;
  margin-top: 10px;
  margin: 0 auto; }

/*acomodo del contenido*/
.contenido {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 1fr 200px;
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  height: 100%;
  margin: auto;
  list-style: none; }

/* orden de imagen 1 mexico seccion*/
.imagenes_mexico {
  margin: 0 auto;
  display: flex;
  width: 100%;
  filter: grayscale(100%);
  transition: 0.2s; }

.imagenes_mexico:hover {
  filter: grayscale(0%);
  transition: 0.2s; }

.imagenes_1 {
  grid-row: 2;
  grid-column: 3 / 4;
  width: 80%;
  margin: 0 auto;
  position: relative; }

.imagenes_1 h2 {
  font-size: 3rem;
  color: black; }

.imagenes_mexico_texto {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1rem;
  color: #f8f7fc; }

/* acomodo de imagen 2 seccion novias*/
.imagenes_novias, .videos {
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  filter: grayscale(100%);
  transition: .2s; }

.imagenes_novias:hover, .videos:hover {
  filter: grayscale(0%);
  transition: .2s; }

.imagenes_2 {
  grid-row: 2;
  grid-column: 2 / 3;
  width: 80%;
  margin: 0 auto;
  position: relative; }

.imagenes_2 h2 {
  font-size: 3rem;
  color: black; }

.imagenes_novias_texto {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1rem;
  color: #f8f7fc; }

/* acomodo de imagen 3 deccion redy*/
.imagenes_redy {
  width: 100%;
  margin: 0 auto;
  display: flex;
  filter: grayscale(100%);
  transition: 0.2s; }

.imagenes_redy:hover {
  filter: grayscale(0%);
  transition: 0.2s; }

.imagenes_3 {
  grid-row: 2;
  grid-column: 1 / 2;
  width: 80%;
  margin: 0 auto;
  position: relative; }

.imagenes_3 h2 {
  font-size: 2rem;
  color: black; }

.imagenes_redy_texto {
  white-space: nowrap;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1rem;
  color: #f8f7fc; }

@media screen and (max-width: 1200px) {
  body {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-rows: 10vh 1fr 1fr 160px;
    width: 100%;
    height: 100vh; }
  .nav_left {
    font-size: 10em; }
  .izquierdo {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    white-space: nowrap;
    z-index: 6; }
  .menu_general {
    display: flex;
    padding: 0px;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    transform: none; }
  .nav_right ul {
    font-size: 17em; }
  .menu_general li {
    display: inline-block;
    margin: 0 1.5rem;
    text-transform: uppercase; }
  .nav_right {
    display: flex;
    z-index: 100;
    background: none;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
    padding: 0;
    transform: none; }
  .derecho, .derecho__desing_name {
    grid-column: 1 / 6;
    grid-row: 1 / 4;
    white-space: nowrap;
    z-index: 5; }
  .imagenes_1 {
    max-width: none; }
  .imagenes_2 {
    max-width: none; }
  .imagenes_3 {
    max-width: none; }
  .contenido {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0vh; }
  .home_logocontainer {
    order: -1; }
  .footer {
    max-width: 50px;
    top: 80vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    position: fixed; }
  .home_logocontainer {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 auto; }
  .home_logocontainer img {
    margin-top: 50px; } }

/* .contenido {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20vh;
        }
        .imagenes_1 {
            max-width: none;
        }   
        .imagenes_2 {
            max-width: none;
        }
        .imagenes_3 {
            max-width: none;
        }
        */
@media screen and (max-width: 480px) {
  body {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-rows: 10vh 1fr 1fr 160px;
    width: 100%;
    height: 100vh; }
  .nav_left {
    font-size: 10em; }
  .izquierdo {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    white-space: nowrap;
    z-index: 2; }
  .menu_general {
    display: flex;
    padding: 0px;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    transform: none; }
  .nav_right ul {
    font-size: 17em; }
  .menu_general li {
    display: inline-block;
    margin: 0 1.5rem;
    text-transform: uppercase; }
  .nav_right {
    display: flex;
    z-index: 100;
    background: none;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
    padding: 0;
    transform: none; }
  .derecho, .derecho__desing_name {
    grid-column: 1 / 6;
    grid-row: 1 / 4;
    white-space: nowrap;
    z-index: 2; }
  .imagenes_1 {
    max-width: none; }
  .imagenes_2 {
    max-width: none; }
  .imagenes_3 {
    max-width: none; }
  .contenido {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0vh; }
  .home_logocontainer {
    order: -1; }
  .footer {
    max-width: 50px;
    top: 80vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    position: fixed; }
  .home_logocontainer img {
    margin-top: 50px; } }

.videos {
  filter: grayscale(33%); }

.videos_horizontales {
  display: flex;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap; }

.videos2 {
  filter: none;
  height: 90%;
  width: auto; }

.body__desing__name {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr 10%;
  grid-template-rows: 1fr 1fr 224px;
  width: 100%;
  height: 100vh; }

.main__desing_name {
  grid-area: 1/2/4/7;
  height: 100vh; }

.derecho__desing_name {
  grid-column: 7 / 8; }

.backgroundconteiner__desing_name {
  grid-column: 1/8; }

.home_logocontainer__desing_name {
  width: 80%;
  grid-area: 1/3/3/6;
  margin: 0 auto;
  z-index: 2; }
  .home_logocontainer__desing_name_picture {
    display: grid;
    padding: 60em; }
    .home_logocontainer__desing_name_picture img {
      width: 100%; }

.section__designer__name {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100%; }
  .section__designer__name__picture {
    grid-area: 1/1/5/3;
    display: grid;
    align-items: center; }
    .section__designer__name__picture__img {
      width: 100%;
      object-fit: cover; }

.articule__desing__name__h2 {
  grid-area: 3/3/4/6;
  margin: 0 29em; }
  .articule__desing__name__h2 h2 {
    font-size: 20em;
    text-align: justify; }

a {
  text-decoration: none; }

body {
  font-size: .7rem; }

.contenedor_galeria {
  grid-area: 1/2/4/5; }

.logo_terceras img {
  width: 100%; }

.espacio {
  margin-bottom: 10px; }

.top {
  margin-top: 8rem; }

.form_container {
  margin-top: 18rem; }
  .form_container_form {
    display: block;
    padding: 3rem;
    background-color: #fff;
    border: 1px solid #ccc; }

.col-xl-6 {
  flex: 0 0 50%; }

.form-style {
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
  font-family: TimesNewRomanPSMT,Times-Roman;
  font-size: 21px;
  width: 100%; }

.contactin {
  margin-bottom: 1rem; }

.button_class {
  border: none;
  background-color: transparent;
  padding: 8px;
  font-family: AccentGraphicMedium;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 3.6px;
  color: #656573;
  text-transform: uppercase; }

.col-sm-9 {
  flex: 0 0 75%;
  width: 84%;
  z-index: 11; }
