<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goretti Marin Mexico</title>
    <link rel="shortcut icon" href="../img/favicon_gm.png" type="image/x-icon">
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>
    <picture class="backgroundconteiner">
         <img  class="background" src="../../src/img/fondo.svg" alt="fondo de pantalla rayas">
    </picture>
</a>
    <header class="izquierdo">
        <nav class="nav_left">
            <a href="./designer_name.html">Goretti Marin</a>
        </nav>
    </header>
    <header class="derecho">
        <nav class="nav_right">
            <ul class="menu_general">
                <li class="menu_prensa"> <a class="link" href="./prensa.html">Prensa</a></li>
                <li class="menu_contacto"> <a class="link"  href="./Contacto.html">Contacto</a></li>
                <li class="menu_cita"> <a class="link"  href="./haz_tu_cita.html" target="_blank">Haz tu cita</a></li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer class="footer">
        <div class="contenido_footer">
        <a class="pie" href="#"><img src="../../src/img/whatsapp.png" alt="enlace a whatsapp" class="pie_1"></a>
        <a class="pie" href="https://www.facebook.com/GorettiMarinMexico/"><img src="../../src/img/facebook.png" alt="enlace a facebook" class="pie_1"></a>
        <a class="pie" href="https://www.instagram.com/gorettimarin.mx/"><img src="../../src/img/instagram.png" alt="enlace a instagram" class="pie_1"></a>
        </div>
    </footer>
</body>

</html>