<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goretti Marin Mexico</title>
    <link rel="shortcut icon" href="../img/favicon_gm.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav class="menu_2">
            <ul>
                <li><a href="Contacto.html">Contacto</a></li>
                <li class="menu_cita"><a href="haz_tu_cita.html" target="_blank">Haz tu cita</a></li>
            </ul>
            <a href="../../index.html"><img class="menu_logo" src="../img/Logomarin.jpg" alt="Logotipo de empresa"
                    id="head"></a>
        </nav>
    </header>
    <main>
        <h1 class="Diseñadora">Goretti Marin</h1>
        <p class="Diseñadora texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum illum provident illo
            porro sed numquam in dolor exercitationem ab commodi ea, natus quia aut iusto! Nulla dolorum sed totam.
            A?Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium commodi, optio veniam ex expedita ea
            sint, quas saepe, provident vel mollitia ipsam aut odit corporis nulla accusamus qui atque? Quisquam!Lorem
        </p>
        <img src="../img/270112627_5052942588060009_8609251251160410037_n.jpeg" alt="diseñadora bla bla">
    </main>