<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goretti Marin Mexico</title>
    <link rel="shortcut icon" href="../img/favicon_gm.png" type="image/x-icon">
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body class="body__desing__name">
    <picture class="backgroundconteiner__desing_name">
         <img  class="background" src="../../src/img/fondo.svg" alt="fondo de pantalla rayas">
    </picture>

    <header class="derecho__desing_name">
        <nav class="nav_right">
            <ul class="menu_general">
                <li class="menu_prensa"> <a class="link" href="https://www.facebook.com/watch/?v=4978026358941196">Prensa</a></li>
                <li class="menu_contacto"> <a class="link"  href="./Contacto.html">Contacto</a></li>
                <li class="menu_cita"> <a class="link"  href="./haz_tu_cita.html" target="_blank">Haz tu cita</a></li>
            </ul>
        </nav>
    </header>
    <main class="main__desing_name">
        <secttion class="section__designer__name">
            <picture class="section__designer__name__picture">
                <img class="section__designer__name__picture__img" src="../img/goretti_marin_disenadora.jpeg" alt="Fotografia de goretti marin">
             </picture>
             <a class="home_logocontainer__desing_name" href="../../index.html">
                <picture class="home_logocontainer__desing_name_picture">
                    <img src="../img/Logo-Gretti-Marin-Mexico-web.png" alt="logotipo de la empresa goretti marin">
                </picture>
            </a>
            <article class="articule__desing__name__h2">
                <h2>
                    Originaria de el alma de México, Michoacán siempre estubo interesada en su cultura, artista de corazon con los años fue encontrando su vocación y su forma de transmitir en la moda y el diseño.
                </h2>
            </article>
        </secttion>

    </main>
    <footer class="footer">
        <div class="contenido_footer">
        <a class="pie" href="#"><img src="../../src/img/whatsapp.png" alt="enlace a whatsapp" class="pie_1"></a>
        <a class="pie" href="https://www.facebook.com/GorettiMarinMexico/"><img src="../../src/img/facebook.png" alt="enlace a facebook" class="pie_1"></a>
        <a class="pie" href="https://www.instagram.com/gorettimarin.mx/"><img src="../../src/img/instagram.png" alt="enlace a instagram" class="pie_1"></a>
        </div>
    </footer>
</body>
</html>