<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goretti Marin Mexico</title>
    <link rel="shortcut icon" href="../img/favicon_gm.png" type="image/x-icon">
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <header>
        <nav class="menu_2">
            <ul>
                <li><a href="./Contacto.html">Contacto</a></li>
                <li class="menu_cita"><a href="./haz_tu_cita.html" target="_blank">Haz tu cita</a></li>
            </ul>
            <a href="../../index.html"><img class="menu_logo" src="../img/Logomarin.jpg" alt="Logotipo de empresa"
                    id="head"></a>
        </nav>
    </header>
    <main>
        <form name="frm" method="get">
            <fieldset id="form">
                <legend>Datos para cita</legend>
                <ol>
                    <li><label>Nombre: </label><input type="text" name="fname" size="25" /></li>
                    <li><label>E-mail: </label><input type="text" name="femail" size="25" /></li>
                    <li><label>Dirección: </label><input type="text" name="fdireccion" size="25" /></li>
                    </ul>
                    <p><input type="submit" name="submit" class="boton" value="Enviar" /></p>
            </fieldset>
        </form>
    </main>
    <footer>
        <a href="#"><img src="../img/whatsapp.png" alt="enlace a whatsapp" class="pie"></a>
        <a href="#"><img src="../img/facebook.png" alt="enlace a facebook" class="pie"></a>
        <a href="#"><img src="../img/instagram.png" alt="enlace a instagram" class="pie"></a>
    </footer>
</body>

</html>