<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goretti Marin Mexico</title>
    <link rel="shortcut icon" href="../img/favicon_gm.png" type="image/x-icon">
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>
    <picture class="backgroundconteiner">
         <img  class="background" src="../../src/img/fondo.svg" alt="fondo de pantalla rayas">
    </picture>
</a>
    <header class="izquierdo">
        <nav class="nav_left">
            <a href="./designer_name.html">Goretti Marin</a>
        </nav>
    </header>
    <header class="derecho">
        <nav class="nav_right">
            <ul class="menu_general">
                <li class="menu_prensa"> <a class="link" href="https://www.facebook.com/watch/?v=4978026358941196">Prensa</a></li>
                <li class="menu_contacto"> <a class="link"  href="./Contacto.html">Contacto</a></li>
                <li class="menu_cita"> <a class="link"  href="./haz_tu_cita.html" target="_blank">Haz tu cita</a></li>
            </ul>
        </nav>
    </header>
    <main class="contenido_total">
        
        <section class="home">       
            <ul class="contenido">
            <li class="imagenes_1">
                <a class="imagenes_mexico_link" href="./campaña_mexico.html">
                    <div>
                        <img class="imagenes_mexico" src="../../src/img/mexicoportada.png"
                            alt="Modelo con tul rosa">
                        <h2 class="imagenes_mexico_texto">Campañas</h2>
                    </div>
                </a>
            </li>
            <a class="home_logocontainer" href="../../index.html">
                <picture class="home_logocontainer">
                    <img src="../img/Logo-Gretti-Marin-Mexico-web.png" alt="logotipo de la empresa goretti marin">
                </picture>
                </a>
            <li class="imagenes_2 videos_horizontales">
                <video class="videos videos2" src="../video/Goretti Verano Terracota.m4v"
                poster="../img/mujer_catrina_v1.png" controls autoplay muted="muted" loop></video>
            <a class="imagenes_novias_link" href="#">
                <div>
                    <h2 class="imagenes_novias_texto">Videos</h2>
                </div>
            </li>
            <li class="imagenes_3">
                <a class="imagenes_redy_link" href="./lookbook_mexico.html">
                    <div>
                        <img class="imagenes_redy" src="../../src/img/mexicoportada2.png"
                            alt="Mujer con vestido rojo">
                        <h2 class="imagenes_redy_texto">Lookboock</h2>
                    </div>
                </a>
            </li>
        </ul>
        </section>
    </main>
    <footer class="footer">
        <div class="contenido_footer">
        <a class="pie" href="#"><img src="../../src/img/whatsapp.png" alt="enlace a whatsapp" class="pie_1"></a>
        <a class="pie" href="https://www.facebook.com/GorettiMarinMexico/"><img src="../../src/img/facebook.png" alt="enlace a facebook" class="pie_1"></a>
        <a class="pie" href="https://www.instagram.com/gorettimarin.mx/"><img src="../../src/img/instagram.png" alt="enlace a instagram" class="pie_1"></a>
        </div>
    </footer>
</body>

</html>