<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goretti Marin Mexico</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../../css/style.css">

</head>

<body>
    <video src="../video/Goreti 3.mp4" controls></video>
<!-- <picture class="backgroundconteiner">
     <img class="background" src="../img/fondo.svg" alt="fondo de pantalla rayas">
</picture>
<header>
   <nav class="nav_right">
       <ul class="menu_general">
           <li class="menu_prensa"> <a href="./src/Views/prensa.html">Prensa</a></li>
           <li class="menu_contacto"> <a  href="./src/views/Contacto.html">Contacto</a></li>
           <li class="menu_cita"> <a  href="./src/views/haz_tu_cita.html" target="_blank">Haz tu cita</a></li>
       </ul>
   </nav>
</header>
<main>
   <section class="home">
       <picture class="home_logocontainer">
           <img src="../img/Logomarin.jpg" alt="logotipo de la empresa goretti marin">
       </picture>
       <ul class="contenido">
       <li class="imagenes_1">
        <a class="imagenes_mexico_link" href="#">
            <div>
                <img class="imagenes_mexico" src="../img/273844430_5210453615642238_599872512283746951_n.jpeg"
                    alt="Modelo con tul rosa">
                <h2 class="imagenes_mexico_texto">Campaña</h2>
            </div>
        </a>
       </li>
       <li class="imagenes_2">
        <article class="imagenes">
            <video class="imagenes_novias" src="../video/Goreti 3.mp4"
                poster="../img/273844430_5210453615642238_599872512283746951_n.jpeg" controls></video>
            <a class="imagenes_novias_link" href="#">
                <div>
                    <h2 class="imagenes_novias_texto">Videos</h2>
                </div>
            </a>
        </article>
       </li>
       <li class="imagenes_3   aZX">
        <a class="imagenes_redy_link" href="#">
            <div>
                <img class="imagenes_redy" src="../img/270112627_5052942588060009_8609251251160410037_n.jpeg"
                    alt="Mujer con vestido rojo">
                <h2 class="imagenes_reedy_texto">lookbook</h2>
            </div>
        </a>
       </li>
   </ul>
   </section>
</main>
<footer class="footer">
   <a class="pie" href="#"><img src="../img/whatsapp.png" alt="enlace a whatsapp" class="pie_1"></a>
   <a class="pie" href="#"><img src="../img/facebook.png" alt="enlace a facebook" class="pie_1"></a>
   <a class="pie" href="#"><img src="../img/instagram.png" alt="enlace a instagram" class="pie_1"></a>
</footer> -->
</body>

</html>