<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goretti Marin Mexico</title>
    <link rel="shortcut icon" href="../img/favicon_gm.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav class="menu_2">
            <ul>
                <li><a href="Contacto.html">Contacto</a></li>
                <li class="menu_cita"><a href="haz_tu_cita.html" target="_blank">Haz tu cita</a></li>
            </ul>
            <a href="../../index.html"><img class="menu_logo" src="../img/Logomarin.jpg" alt="Logotipo de empresa"
                    id="head"></a>
        </nav>
    </header>
    <main>
        <section>
            <h1>Novias</h1>
            <article class="imagenes">
                <a class="imagenes_mexico_link" href="#">
                    <div>
                        <img class="imagenes_mexico" src="../img/273844430_5210453615642238_599872512283746951_n.jpeg"
                            alt="Modelo con tul rosa">
                        <h2 class="imagenes_mexico_texto">Campaña</h2>
                    </div>
                </a>
            </article>
            <article class="imagenes">
                <video class="imagenes_novias" src="../video/Goreti 3.mp4"
                    poster="../img/273844430_5210453615642238_599872512283746951_n.jpeg" controls></video>
                <a class="imagenes_novias_link" href="#">
                    <div>
                        <h2 class="imagenes_novias_texto">Videos</h2>
                    </div>
                </a>
            </article>
            <article class="imagenes">
                <a class="imagenes_redy_link" href="#">
                    <div>
                        <img class="imagenes_redy" src="../img/270112627_5052942588060009_8609251251160410037_n.jpeg"
                            alt="Mujer con vestido rojo">
                        <h2 class="imagenes_reedy_texto">lookbook</h2>
                    </div>
                </a>
            </article>
        </section>
    </main>
    <footer>
        <a href="#"><img src="../img/whatsapp.png" alt="enlace a whatsapp" class="pie"></a>
        <a href="#"><img src="../img/facebook.png" alt="enlace a facebook" class="pie"></a>
        <a href="#"><img src="../img/instagram.png" alt="enlace a instagram" class="pie"></a>
    </footer>
</body>

</html>