.footer {
    position: relative;
    z-index: 0;
    grid-column: 1 / 2;
    grid-row: 3;
    margin: 0 auto;
    max-width: 50px;

}
.contenido_footer {
    display: grid;
    grid-area: 2/1/3/2;
}
.pie {
    width: 50px;
}
.pie_1 {
    width: 100%;
}
.link_redes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}