a {
    text-decoration: none;
}

body {
    font-size: .7rem;

}

.contenedor_galeria {
    grid-area: 1/2/4/5;

}

.logo_terceras img {
    width: 100%;
}

.espacio {
    margin-bottom: 10px;

}

.top {
    margin-top: 8rem;
}