a:visited {
    color: black;
}
a:hover {
    color: rgba(249, 249, 253, 0.623);
    transition: 1s;
    
}
.link:hover {
    color: rgba(20, 20, 20, 0.61);
    transition: 1s;
}
a {
    color: rgb(16, 16, 17);
    transition: 1s; 
}